footer {
    background-color: #333333;
    padding-top: 100px;
    padding-bottom: 130px;
}

.footer-navigation .text-style {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.footer-navigation {
    display: flex;
    align-items: center;
    font-size: 0;
}

.footer-center {
    display: flex;
    justify-content: center;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.phone-number-link-footer {
    display: flex;
}

.phone-number-link-footer::before {
    content: "";
    background-image: url(../image/icons/carbon_phone-white.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 9px;
}

.footer-link-delivery {
    margin-right: 47px;
}

.icon-vk {
    margin-right: 20px;
}

.container {
    flex-grow: 1;
    flex-basis: 0;
}

