main {
    background: #F9F9F9;
    padding-top: 75px;
    padding-bottom: 100px;
}

.main-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #BDBDBD;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-right: 15px;
}

.main-nav:not(:first-child)::before {
    content: "";
    background-image: url(../image/icons/Ellipse.png);
    background-repeat: no-repeat;
    height: 6px;
    width: 6px;
    margin-right: 15px;
}

.main-nav:last-child {
    margin-right: 0px;
}

.nav-panel {
    display: flex;
}

.back-link {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 82px;
    height: 24px;
}

.back {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 40px;
}

.back::before{
    content: "";
    background-image: url(../image/icons/eva_arrow.png);
    margin-right: 4px;
    height: 18px;
    width: 18px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
}

.product-card {
    padding: 20px 20px 30px 20px;
    width: 315px;
    border-radius: 20px;
    border: 1px solid var(--gray-6, #F2F2F2);
    background: #F9F9F9;
    box-shadow: 
                8px 8px 15px 0px rgba(0, 0, 0, 0.05),
                -8px -8px 15px 0px #FFF;
}


.card-margin {
    margin-bottom: 25px;
}

.product-name {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    margin-bottom: 5px;
}

.product-purpose {
    font-size: 16px;
    line-height: 21px;
    color: #828282;
}

.product-cost {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

.product-weight {
    display: flex;
    justify-content: space-between;
}

.card-details-shopping-cart{
    display: flex;
    justify-content: space-between;
}

.details {
    text-decoration: none;
    padding: 12px 32px;
    background-color: #3FCF5E;
    border-radius: 10px;
}

.details > p {
    color: #FFF;
    font-weight: 600;
}

.shopping-cart {
    padding: 9px 10px 9px 9px;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    background: #FFF;
}

.pagination-main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}

.arrow:first-child {
    margin-right: 25px;
}

.arrow:last-child {
    margin-left: 25px;
}

.pagination-pages {
    display: flex;
}

.pagination-number {
    margin-left: 20px;
    text-decoration: none; 
}

.pagination-number > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #828282;
}

.pagination-number:first-child {
    margin-left: 0;
}

.pagination-number > p:active {
    font-weight: 700;
    color: #219653;
}
